body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f15445;
}
.input{
    display: none;
}
.show{
    display: inline;
}
.block{
    display: none;
}
section{
    background-color: #fff;
    margin: 100px auto;
    width: 600px;
    text-align: center;
    padding: 42px;
    padding-bottom: 1px;
}
ul{
    list-style: none;
}

h2{
    background: #f15445;
    padding: 17px 0;
    width: 97.5%;
    margin-left: 8px;
    color: #fff;
}
input[type='text']{
    width: 70.11%;
    margin-left: 5px;
    padding: 11px;
    background: #eee;
    border-radius: 3px;
    border: 0;
}
#form{
    width: 75%;
    margin-left: -45px;
    margin-bottom: 9px;
}
/* Buttons */
button{
    width: 26%;
    background: green;
    border: 0;
    padding: 11px;
    margin-bottom: 3px;
    margin-right: 5px;
    float: right;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    transition: opacity .1s ease-in-out;
}
button:focus{
    outline: none;
}
button:hover{
    opacity: .8;
}
button.edit{
    background-color: #666566;
}
button.delete{
    background-color: #d85a49;
}
button.add{
    background-color: #43b359;
    width: 24.5%;
}


li span{
    float: left;
    font-weight: 500;
    margin-left: -33px;
    user-select: none;
}
li span::first-letter{
    text-transform: uppercase;
}
.clear{
    clear: both;
}
input:focus{
    outline: none;
}